@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.name-text {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-size: 65px;
  font-weight: 800;
}

.social-icon {
  margin: 0 20px;
}